/*#ffa8b6
to blend with: 1. shades of grey 2. color:#333
*/
body {
  background-color: rgb(215, 205, 208);
}

.container {
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 0;
}

#header {
  color: #ffa8b6;
  background-color: #333;
  margin: 0;
  padding: 2rem 0;
}

#header h1 {
  text-transform: uppercase;
  text-align: right;
}

#header h2 {
  font-style: italic;
  text-align: right;
}

#pigIcon {
  width: 50%;
  display: block;
  margin: auto;
}

#gameSection {
  width: 100%;
  margin-top: 2rem;
}

.diceRules, a {
  color: #ffa8b6;
  background-color: #333;
  text-transform: uppercase;
}

#diceFooter a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
}

.playerImg {
  display: block;
  margin: auto;
  width: 50%;
}

.gamePlay {
  text-align: center;
  height: inherit;
}

.totalResult, .roundResult {
  width: 7rem;
  margin: 0 auto;
}

#totalResult1, #roundResult1 {
  background-color: #333;
  color: #ffa8b6;
}

#totalResult2, #roundResult2 {
  background-color: #ffa8b6;
  color: #333;
}

.btnColor {
  background-color: #fff;
  margin: 0 0;
  color: #333;
}

.btnColor:hover {
  color: #ffa8b6;
}

#gameBtns {
  height: 100%;
}

#diceNumber {
  background-color: #fff;
  width: 5rem;
  padding: 2rem 0;
  border: 2px solid #ffa8b6;
  text-align: center;
  color: #ffa8b6;
}

#rollBtn2, #holdBtn2 {
  display:none;
}
